/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Kalam&family=Orbitron&display=swap');

#yourNumberInput[type="number"]::-webkit-inner-spin-button,
#yourNumberInput[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --port-color: rgb(22, 40, 52);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.6rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    margin-left: -9rem;
    font-family: 'changa';
}

/* -------------------------------- Navbar ------------------------------- */

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    transition: 0.3s;
    padding: 0 2.6rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    margin: auto auto;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#moon.active {
    display: none;
}

#sun.active {
    display: inline-block;
}

.dark-theme {
    --bg-color: #f6eeee;
    --second-bg-color: #e4e2e1c4;
    --text-color: #2b1d1d;
    --main-color: rgb(20, 48, 229);
    --skill-color: #d1d1d1;

    .achivements-box {
        background-color: rgb(206, 206, 206);
    }

    .developers {
        background-color: rgb(255, 243, 243);
    }

    .developers-box {
        background-color: rgb(244, 232, 232);
    }
}

#theme-toggle {
    position: absolute;
    right: 2rem;
    height: 2rem;
    width: 2rem;
}

#theme-toggle #moon,
#sun {
    font-size: 2.2rem;
}

#theme-toggle #moon,
#sun {
    cursor: pointer;
}

/* -------------------------------- Menu icon ------------------------------- */

#menu-icon {
    color: var(--text-color);
    font-size: 3.4rem;
    display: none;
}

/* --------------------------- footer -------------------------- */

.footer {
    position: relative;
    bottom: 0;
    color: #fff;
    text-align: center;
    align-items: center;
    width: 100vw;
    background-color: black;
}

.footer h2,
.footer span {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    padding: 0.5rem 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-align: center;
    align-items: center;
    color: #fff;
}

/* ---------------------------------------- Skills ----------------------------------- */

.skill {
    z-index: 10;
    background-color: var(--skill-color);
}

.heading1 {
    text-align: center;
    word-spacing: 0.2rem;
    font-size: 4.5rem;
    letter-spacing: 0.3rem;
    margin: 5rem 0;
    margin-bottom: 5rem;
}

.skill h2 {
    margin-bottom: 3rem;
}

.skill h4 {
    font-size: 3rem;
    color: var(--main-color);
    font-family: 'changa';
    text-align: center;
    word-spacing: 0.7rem;
    letter-spacing: 0.3rem;
}

.skill {
    max-width: 70rem;
    margin: -3rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

.skill .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill .input-box input {
    width: 49%; /* Adjust the width to create more space between input boxes */
    padding: 0.4rem 1.3rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    margin: 0.7rem 0;
    border-radius: 0.9rem;
    resize: none;
    font-family: 'changa';
}

.skill .btn {
    font-size: 1.3rem;
    padding: 0.5rem 4rem;
    margin: 1rem auto;
    cursor: pointer;
    margin-top: 3rem;
}

.skill  .input-box input {
    width: 49%;
}


button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    position: relative;
}

#link a {
    padding: 0.5rem 4rem;
    font-size: 1.4rem;
    position: absolute;
    background: var(--main-color);
    border-radius: 0.7rem;
    color: rgb(13, 13, 47);
    box-shadow: 0px 3px 5px rgb(84, 193, 243);
    letter-spacing: 0.3rem;
}

#link a:hover {
    color: var(--main-color);
    background-color: var(--bg-color);
    border: 0.1rem solid var(--main-color);
    transform: scale(1.01);
    transition: transform 0.9s ease;
}

hr {
    width: 96%;
    border: none;
    border-top: 1px solid #5f5a5a;
    margin: 6rem auto;
}

/* Code By - DATTA KALE */
